# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ujrlwwprcfahwutckssh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_jAIKkYU9ythE9OZQ7_H1Dg_045pvOLl
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVqcmx3d3ByY2ZhaHd1dGNrc3NoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyMDEyNDksImV4cCI6MjEwMTc3NzI0OX0.xI2x7Vpu6o1tkUa80kerjeu9I75VTRRAnyFy6akNcCA
